# build options
# (fastbuild | dbg | opt)
build --compilation_mode fastbuild
build --cxxopt='-std=c++17'

# generate lcov report
coverage --experimental_cc_coverage
coverage --combined_report=lcov
coverage --coverage_report_generator=@bazel_tools//tools/test/CoverageOutputGenerator/java/com/google/devtools/coverageoutputgenerator:Main
coverage --verbose_failures
coverage --test_output errors
